.navigation{
    box-sizing:border-box;
    padding:16px;
    box-shadow:1px 1px 1px gray;
    position:fixed;
    width:100%;
    a{
       padding-left:16px;
    }
    a:nth-child(1){
        padding-left:0;
    }
    .nav-item{
     font-size:20px; 
      cursor:pointer;
      padding:16px;
      color:#1F3740;
    
    }
    .nav-item.active{
      font-weight:bold;
      cursor:default;
    }
  }